* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sauce';
    src: url('../assets/fonts/OpenSauceOne-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: #413C36;
}
.full_body{
    width: 100%;
    height: 100%;
    background: #E7E5D9;
}
.container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.header {
    flex-wrap: wrap;
    width: 100%;
    padding: 24px 0px 50px 0px;
}


.head_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks {
    height: 100%;
    flex-wrap: wrap;
}

.navlinks ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navlinks ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sauce', sans-serif;
    border: 1px solid #413C36;
    padding: 13px 22px;
    font-weight: bold;
    font-size: 15px;
    color: #413C36;
    border-radius: 35px;
    transition: background-color 0.3s ease;
}
 
.navlinks ul a.active {
    background-color: #413C36; 
    color: #fff;
    /* Change to the desired active background color */
}

.logo h2{
    text-transform: uppercase;
    font-family: 'Open Sauce', sans-serif;
    color: #413C36;

}

 .brand_name{
    width: 700px;
    padding-left: 30px;
    padding: 30px;
    flex-wrap: wrap;
 }
 .brand_name h2{
    text-transform: uppercase;
    font-size: 94.2px;
    color: #413C36;
    letter-spacing: 0.91;
    line-height: 80px;
    font-weight: normal;
    font-family: 'Georgia',serif;

 }

 .brand_name p{
    font-family: 'Open Sauce', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    /* font-weight: bold; */
    color: #413C36;
    width: 400px;
    line-height: 1.75;
    letter-spacing: 49;
    padding-bottom: 30px;
 }

 .imgs img{
    width: 500px;
    border-radius: 50px;
 }
 .aboutme{
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .aboutme h2{
    font-family: 'Open Sauce', sans-serif;
     text-transform: uppercase;
     font-size: 40px;
    padding: 50px 0;
    text-align: center;

        color: #413C36;
    border-radius: 35px;
  }
 .material-symbols-outlined {
    font-size: 70px;
  font-variation-settings:
  'FILL' 900,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.about_img{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    gap: 500px;
    /* align-items: center; */
} 
.about_img span{
    margin-top: 30px;
}
.about_img img{
    width: 400px;
    border-radius: 5px;
}

.about_p span{
font-size: 30px;
color: #413C36;
font-family: 'Open Sauce', sans-serif;
font-weight: bold;
margin-left: 50px;
 text-transform: uppercase;
}
.about_p h3{
    margin-left: 50px;
    font-size: 70px;
    padding: 10px 0;
    color: #413C36;
    font-family: 'Georgia',serif;
        font-weight: normal;
    text-transform: capitalize;
 }

 .about_p p{
    font-size: 20px;
    
    padding: 10px 0;
    color: #413C36;
    font-family: 'Open Sauce', sans-serif;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    
 }

 .skills{
    flex-wrap: wrap;
    /* padding: 30px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    /* border-bottom: 2px solid #413C36; */
 }
 .skills p{
    margin-left: 240px;
    font-family: 'Open Sauce', sans-serif;
     text-transform: uppercase;
    color: #413C36;
    line-height: 0px;
    font-weight: bold;
    font-size: 12px;
 }
 .skills h2{
    width: 350px;
    color: #413C36;
    font-size: 37px;
    font-family: 'Open Sauce', sans-serif;
     text-align: center;
     text-transform: uppercase;
     line-height: 1.47;
     
 }
 .brand_skills{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
 }

 .brand_skills span{
    padding: 20px;
    font-size: 24px;
    font-family: 'Georgia',serif;
    color: #413C36;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.315);

 }

 .experience{
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
 }

 .experience_head{
    font-size: 19px;
    color: #413C36;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 150px;
    font-family: 'Georgia',serif;
 }

 .experience_component{
    width: 470px;
    
 }
 .experienced_letters{
    padding: 27px 0;
    
 }
 .experienced{
    padding: 27px 0;
 }
 .experienced h2{
    
    font-size: 37px;
    color: #413C36;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sauce', sans-serif;
letter-spacing: 1.18;
 }
 
 .experienced_letters h2{
    font-size: 37px;
    color: #413C36;
    width: 400px;
    font-weight: bold;
    text-transform: uppercase;

    font-family: 'Open Sauce', sans-serif;
letter-spacing: 1.18;
 }
 .experienced_letters p{
    line-height:1.58 ;
    letter-spacing:10  ;
    text-align: justify;
    font-size: 23px;
 }
 .experienced p{
    line-height:1.58 ;
    letter-spacing:10  ;
    text-align: justify;
    font-size: 23px;
 }
.portfolio{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.portfolio_head{
    padding: 90px 0;
    font-family: 'Open Sauce', sans-serif;
    color: #413C36;
    text-transform: uppercase;
}
.portfolio_img{
    display: grid;
    gap: 120px;
     grid-template-columns: repeat(2,1fr);
}

 .portfolio_img img{
    width: 330px;
    border-radius: 5px;
    /* height: 330px; */
    object-fit: cover;
 }
 .portfolio_img img:nth-of-type(2){
    width: 330px;
    object-fit: cover;
    height: 250px;
 }

 .portfolio_img img:nth-of-type(3){
    width: 330px;
     object-fit: cover;
    height: 250px;
    position: relative;
    left: 240px;
 }
 .portfolio_img img:nth-of-type(4){
    width: 330px;
    object-fit: cover;
    height: 250px;
    position: relative;
    top: -150px;
    left: 80px;
 }
 .contact{
    padding: 40px;
 }
  .contact_info {
    /* padding-top: 90px ; */
    width: 400px;
 }
.contact_info h2{
    font-family: 'Open Sauce', sans-serif;
    color: #413C36;
    text-transform: uppercase;
    font-size: 32px;
}
.contact_info p{
    width: 315px;
    font-size: 80px;
    font-weight: normal;
    font-family: 'Georgia',serif;
        color: #413C36;
        line-height: 70px;
        padding: 25px 0;
}
.contact_img {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: -100px;
}
 .contact_img img{
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 30px;
 }

 .contact_info span{
    font-weight: bold;
    line-height: 1.5rem;
    font-family: 'Open Sauce', sans-serif;
    color: #413C36;
    /* font-size: 10px; */
 }
 .btns_arrrows{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
 }
 .btn_arrow{
    position:fixed;
    transition: 2.5s ease-in-out;
    bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background: #413C36;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #413C36;
    transition: 0.5s ease-in-out;
 }

 .btn_arrow:hover{
    background: transparent;
    color: #413C36;
 }

 
/* Hamburger menu styles */
.hamburger-menu {
   display: none;
   cursor: pointer;
}

.hamburger-menu-line {
   width: 30px;
   height: 3px;
   background-color: #333;
   margin: 5px 0;
}

@media(max-width:1182px) {
   .brand_skills{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      gap: 40px;
   }
  
   .brand_skills span{
      padding: 14px;
      font-size: 20px;
      font-family: 'Georgia',serif;
      color: #413C36;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.315);
  
   }
}
@media(max-width:1087px) {
   
.navlinks ul a {
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Open Sauce', sans-serif;
   border: 1px solid #413C36;
   padding: 10px 15px;
   font-weight: bold;
   font-size: 11px;
   color: #413C36;
   border-radius: 35px;
   transition: background-color 0.3s ease;
}

.navlinks ul a.active {
   background-color: #413C36; 
   color: #fff;
   /* Change to the desired active background color */
}

.logo h2{
   text-transform: uppercase;
   font-family: 'Open Sauce', sans-serif;
   color: #413C36;
   font-size: 20px;

}
.experience_head{
   font-size: 15px;
   color: #413C36;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 100px;
   margin-left: 100px;
   font-family: 'Georgia',serif;
}
.container {
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}
.about_img{
   display: flex;
   justify-content: space-around;
   padding: 40px 0;
   gap: 200px;
   /* align-items: center; */
} 
}

@media(max-width:980px) {
   .contact{
      padding: 10px;
   }
    .contact_info {
      /* padding-top: 90px ; */
      width: 400px;
   }
  .contact_info h2{
      font-family: 'Open Sauce', sans-serif;
      color: #413C36;
      text-transform: uppercase;
      font-size: 22px;
  }
  .contact_info p{
      width: 215px;
      font-size: 50px;
     line-height: 50px;
     padding: 25px 0;
  }
  .contact_img {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: end;
      margin-top: -100px;
  }
   .contact_img img{
      width: 400px;
      height: 400px;
       border-radius: 30px;
   }
  
   .contact_info span{
       line-height: 1.5rem;
   }
   .portfolio_img{
       gap: 70px;
       grid-template-columns: repeat(2,1fr);
  }
  
   .portfolio_img img{
      width: 270px;
   }
   .portfolio_img img:nth-of-type(2){
      width: 270px;
       height: 250px;
   }
  
   .portfolio_img img:nth-of-type(3){
      width: 270px;
       height: 250px;
       left: 190px;
   }
   .portfolio_img img:nth-of-type(4){
      width: 270px;
       height: 250px;
       top: -100px;
      left: 80px;
   }
   .skills p{
      margin-left: 170px;
      
      font-size: 12px;
      padding-bottom: 4px;
   }
   .skills h2{
      width: 300px;
       font-size: 30px;
        text-align: center;
        line-height: 1.07;
       
   }
   .brand_skills{
      padding: 15px 0;
      display: flex;
      justify-content: center;
      gap: 20px;
   }
  
   .brand_skills span{
      padding: 13px;
      font-size: 15px;
   }
   
 .experience{
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   align-items: start;
   justify-content: space-between;
}

.experience_head{
   font-size: 13px;
   color: #413C36;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 100px;
   margin-left: 100px;
   font-family: 'Georgia',serif;
}

.experience_component{
   width: 400px;
   
}
.experienced_letters{
   padding: 27px 0;
   
}
.experienced{
   padding: 27px 0;
}
.experienced h2{
   font-size: 30px;
letter-spacing: 0.50;
}

.experienced_letters h2{
   font-size: 30px;
   color: #413C36;
   width: 340px;
   font-weight: bold;
   text-transform: uppercase;

   font-family: 'Open Sauce', sans-serif;
letter-spacing: 1.18;
}
.experienced_letters p{
   line-height:1.58 ;
   letter-spacing:10  ;
   text-align: justify;
   font-size: 18px;
   width: 340px;
}
.experienced p{
   width: 370px;
   line-height:1.58 ;
   letter-spacing:8  ;
   text-align: justify;
   font-size: 18px;
}
}

@media(max-width:800px) {
   .portfolio_img{
      gap: 70px;
      grid-template-columns: repeat(2,1fr);
 }
 
  .portfolio_img img{
     width: 230px;
  }
  .portfolio_img img:nth-of-type(2){
     width: 230px;
      height: 200px;
  }
 
  .portfolio_img img:nth-of-type(3){
     width: 230px;
      height: 200px;
      left: 140px;
  }
  .portfolio_img img:nth-of-type(4){
     width: 230px;
      height: 200px;
      top: -60px;
     left: 50px;
  }
  .contact_img {
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: end;
   margin-top: 0px;
}
.contact_img img{
   width: 300px;
   height: 300px;
    border-radius: 30px;
}
}
/* Media query for small screens */
@media screen and (max-width: 768px) {
 

.navlinks ul a {
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Open Sauce', sans-serif;
   border:none;
   width: 100%;
   display: 
   flex;
   flex-direction: column;
   justify-content: end;
   align-items: end;
   padding: 10px;
   font-weight: bold;
   font-size: 15px;
   color: #413C36;
   border-radius: 35px;
   transition: background-color 0.3s ease;
}
 
   .navlinks ul {
       display: none;
       position: absolute;
       top: 70px;
       right: 0;
       width: 100%;
       gap: 0px;
        background-color: #f9f9f9;
       padding: 5px;
       box-shadow:none;
       z-index: 999;
   }

   .navlinks ul.show {
       display: block;
   }

   .navlinks ul li {
       display: 
       flex;
       flex-direction: column;
       justify-content: end;
       align-items: end;
       margin: 13px 20px;
   }

   .hamburger-menu {
      position: absolute;
      right: 30px;
       display: block;
   }
   
 .brand_name{
   width: 500px;
   padding-left: 10px;
   padding: 0px;
   flex-wrap: wrap;
}
.brand_name h2{
   text-transform: uppercase;
   font-size: 70.2px;
   letter-spacing: 0.91;
   line-height: 55px;
   padding-bottom: 10px;
}

.brand_name p{
   font-family: 'Open Sauce', sans-serif;
   text-transform: uppercase;
   font-size: 15px;
   /* font-weight: bold; */
   color: #413C36;
   width: 400px;
   line-height: 1.75;
   letter-spacing: 39;
   padding-bottom: 30px;
}
.aboutme{
   flex-wrap: wrap;
   padding-top: 20px;
   padding-bottom: 50px;
}
.aboutme h2{
    font-size: 30px;
   padding: 20px 0;
   text-align: center;
 }
  
 .experience{
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   align-items: start;
   justify-content: space-between;
}

.experience_head{
   font-size: 13px;
   color: #413C36;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 100px;
   margin-left: 50px;
   font-family: 'Georgia',serif;
}

.experience_component{
   width: 350px;
   
}
.experienced_letters{
   padding: 27px 0;
   
}
.experienced{
   padding: 27px 0;
}
.experienced h2{
   font-size: 25px;
letter-spacing: 0.50;
}

.experienced_letters h2{
   font-size: 25px;
   color: #413C36;
   width: 280px;
   font-weight: bold;
   text-transform: uppercase;

   font-family: 'Open Sauce', sans-serif;
letter-spacing: 1.18;
}
.experienced_letters p{
   line-height:1.58 ;
   letter-spacing:10  ;
   text-align: justify;
   font-size: 15px;
   width: 300px;
}
.experienced p{
   width: 300px;
   line-height:1.58 ;
   letter-spacing:8  ;
   text-align: justify;
   font-size: 14px;
}
}

@media(max-width:690px) {

   .container {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
   }
   .experience{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;
      padding-top: 0px;
   } 
   .experience_head{
      width: 350px;
      display: flex;
      align-items: start;
      justify-content: start;
      text-align: left;
      margin-top: 40px;
      margin-left: 0;
   }
   .experience_component{
      width: 400px;
      
   }
   .experienced_letters{
      padding: 27px 0;
      
   }
   .experienced{
      padding: 27px 0;
   }
   .experienced h2{
      font-size: 30px;
   letter-spacing: 0.50;
   }
   
   .experienced_letters h2{
      font-size: 30px;
       width: 330px;
   letter-spacing: 1.18;
   }
   .experienced_letters p{
      line-height:1.58 ;
      letter-spacing:10  ;
      text-align: justify;
      font-size: 15px;
      width: 350px;
   }
   .experienced p{
      width: 350px;
      line-height:1.58 ;
      letter-spacing:8  ;
      text-align: justify;
      font-size: 15px;
   }
   .brand_skills{
      width: 100%;
      /* height: 500px; */
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 50px;
   }
  
   .brand_skills span{
      padding: 20px;
      font-size: 24px;
      font-family: 'Georgia',serif;
      color: #413C36;
      border-bottom: 1px solid #413C36;
      box-shadow:none;
  
   }
   .portfolio{
      width: 100%;
      height: 100%;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .portfolio_head{
      padding: 60px 0;
      font-family: 'Open Sauce', sans-serif;
      color: #413C36;
      text-transform: uppercase;
  }
  .contact{
   padding: 13px 0;
}
 .contact_info {
   padding-top: 90px ;
   width: 400px;
}
}

@media(max-width:662px) {
   .about_img{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
      gap: 50px;
    } 
   .portfolio_img{
      gap: 50px;
      grid-template-columns: repeat(2,1fr);
 }
 
  .portfolio_img img{
     width: 230px;
  }
  .portfolio_img img:nth-of-type(2){
     width: 230px;
      height: 200px;
  }
 
  .portfolio_img img:nth-of-type(3){
     width: 230px;
      height: 200px;
      left: 65px;
  }
  .portfolio_img img:nth-of-type(4){
     width: 230px;
      height: 200px;
      top: -60px;
     left: 0px;
  }
  .contact_info {
   padding-top: 60px ;
   
    padding-bottom: 40px;
}
}

@media(max-width:570px) {
   .portfolio_img{
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
 }
 .portfolio_img img{
   width: 180px;
}
.portfolio_img img:nth-of-type(2){
   width: 180px;
    height: 150px;
}
   .portfolio_img img:nth-of-type(3){
      width: 180px;
       height: 150px;
       left: 68px;
   } 
   .portfolio_img img:nth-of-type(4){
      width: 180px;
       height: 150px;
       top: -50px;
      left: 30px;
   }
   .imgs img{
      width: 100%;
      border-radius: 50px;
   }
   .brand_name{
      width: 100%;
      padding-left: 10px;
      padding: 0px;
      flex-wrap: wrap;
   }
   .brand_name h2{
      text-transform: uppercase;
      font-size: 50.2px;
      letter-spacing: 0.91;
      line-height: 55px;
      padding-bottom: 10px;
   }
}

@media(max-width:468px) {
   .portfolio_img{
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
 }
 .portfolio_img img{
   width: 120px;
}
.portfolio_img img:nth-of-type(2){
   width: 120px;
    height: 100px;
}
   .portfolio_img img:nth-of-type(3){
      width: 120px;
       height: 100px;
       left: 68px;
   } 
   .portfolio_img img:nth-of-type(4){
      width: 120px;
       height: 100px;
       top: -50px;
      left: 30px;
   }
   
   .container {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
   }
   .experience{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;
      padding-top: 0px;
   } 
   .experience_head{
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      text-align: left;
      margin-top: 40px;
      margin-left: 0;
   }
   .experience_component{
      width: 100%;
      
   }
   .experienced_letters{
      padding: 27px 0;
      
   }
   .experienced{
      padding: 27px 0;
   }
   .experienced h2{
      font-size: 22px;
   letter-spacing: 0.50;
   }
   
   .experienced_letters h2{
      font-size: 22px;
       width: 250px;
   letter-spacing: 1.18;
   }
   .experienced_letters p{
      line-height:1.58 ;
      letter-spacing:10  ;
      text-align: justify;
      font-size: 15px;
            width: 100%;
   }
   .experienced p{
            width: 100%;
      line-height:1.58 ;
      letter-spacing:8  ;
      text-align: justify;
      font-size: 15px;
   }
   .brand_name p{
      font-family: 'Open Sauce', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      /* font-weight: bold; */
      color: #413C36;
      width: 100%;
      line-height: 1.75;
      letter-spacing: 39;
      padding-bottom: 30px;
   }
   .contact_info {
      padding-top: 60px ;
      width: 100%;
       padding-bottom: 40px;
   }
   .contact_info h2{
      font-family: 'Open Sauce', sans-serif;
      color: #413C36;
      text-transform: uppercase;
      font-size: 18px;
  }
  .contact_info p{
      width: 100%;
      font-size: 45px;
     line-height: 50px;
     padding: 25px 0;
  }
  .about_p span{
   font-size: 15px;
   color: #413C36;
   font-family: 'Open Sauce', sans-serif;
   font-weight: bold;
   margin-left: 0px;
    text-transform: uppercase;
   }
   .about_p h3{
       margin-left: 0px;
       font-size: 40px;
       padding: 10px 0;
 
    }
   
    .about_p p{
       font-size: 15px;
       
       padding: 10px 0;
       color: #413C36;
       font-family: 'Open Sauce', sans-serif;
       font-weight: normal;
       line-height: 25px;
       text-align: justify;
       
    }
    .about_img img{
      width: 100%;
      border-radius: 5px;
  }
}

@media(max-width:345px) {
   .brand_name h2{
      text-transform: uppercase;
      font-size: 34.2px;
      letter-spacing: 0.91;
      line-height: 35px;
      padding-bottom: 10px;
   }
   .brand_name p{
      font-family: 'Open Sauce', sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      /* font-weight: bold; */
      color: #413C36;
      width: 100%;
      flex-wrap: wrap;
      line-height: 1.75;
      letter-spacing: 39;
   }
   .logo h2{
      font-size: 10px;
   
   }
   .skills p{
      margin-left: 170px;
      
      font-size: 8px;
      padding-bottom: 4px;
   }
   .skills h2{
      width: 100%;
       font-size: 20px;
        text-align: center;
        line-height: 1.07;
       
   }
   .portfolio_img{
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
 }
 .portfolio_img img{
   width: 90px;
}
.portfolio_img img:nth-of-type(2){
   width: 90px;
    height: 70px;
}
   .portfolio_img img:nth-of-type(3){
      width: 90px;
       height: 70px;
       left: 38px;
   } 
   .portfolio_img img:nth-of-type(4){
      width: 90px;
       height: 70px;
       top: -40px;
      left: 0px;
   }
   .contact_info span{
      font-weight: bold;
      line-height: 20px;
      font-family: 'Open Sauce', sans-serif;
      color: #413C36;
      font-size: 10px;
   }
}

